@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

h1 {
  position: relative;
}

h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
  margin-top: 20px;
}

.btn-ghost {
  background: transparent;
  border: 0;
  font-size: 20px;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 100%;
}

.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.cards {
  position: relative;
  perspective: 1000px;
  width: 500px;
  height: 300px;
  max-width: 100%;
  margin-top: 20px;
}

.card {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  transform: translateX(50%) rotateY(-10deg);
  transition: all 0.4s ease;
}

.card.active {
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
}

.card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.card.right {
  transform: translateX(50%) rotateY(-10deg);
}

.inner-card {
  position: relative;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: "\f021   Flip";
  font-family: "Font Awesome 5 free", Lato, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #ddd;
}

.nav {
  display: flex;
  margin: 20px 0;
}

.nav-btn {
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  border: none;
}

.nav p {
  margin: 0 25px;
}

.add-container {
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f0f0f0;
  border-top: 2px solid #eee;
  width: 100%;
  padding: 10px 0;
  transition: all 0.4s ease;
}

.add-container.show {
  opacity: 1;
  z-index: 2;
}

.add-container h1 {
  margin: 10px 0;
}

.form-group label {
  display: block;
  margin: 20px 0 10px;
}

.form-group textarea {
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 16px;
  min-width: 500px;
  max-width: 100%;
  resize: vertical;
}
